body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #003366, #0059b3); /* biru tua */
}

.page-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
}

.container {
  background-color: white;
  padding: 40px;
  max-width: 900px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

h1 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #333;
}

.no-sertifikat {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.info-box {
  text-align: left;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  background-color: #f4f6f9;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 14px;
}

.valid {
  color: green;
  font-weight: bold;
}

.qr {
  margin-top: 20px;
}
footer {
  text-align: center;
  padding: 30px 20px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  margin-top: 40px;
  font-family: 'Arial', sans-serif;
}

.footer-title {
  font-weight: 600;
  color: #555;
  font-size: 14px;
  line-height: 1.6;
}

.footer-title em {
  font-style: italic;
  color: #555;
}

.footer-title strong {
  font-weight: bold;
  color: #333;
}

.copyright {
  margin-top: 10px;
  font-size: 13px;
  color: #777;
}
